@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jura', sans-serif;
    height: 100%;
}

.menu {
    background-image: linear-gradient(to right, #777ADD, #3D91F5);
    height: 30px;
    width: 100%;
}

.menu > a {
    padding: 0 2rem;
    vertical-align: middle;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 50px;
}

.titulo {
    text-align: center; 
    font-weight: bold;
    font-size: 60px;
    padding: 2rem;
}

.sub-titulo {
    margin-left: 2rem;
}

.sub-titulo-2 {
    text-align: center;
}

p {
    padding: 1rem 2rem;
}

.intro {
    font-size: 1.3rem;
    text-align: center;
}

.intro-content {
    padding: 2rem;
}

.btn-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

button {
    background-image: linear-gradient(to right, #777ADD, #3D91F5);
    width: 200px;
    height: 90px;
    color: white;
    font-family: 'Jura';
    font-weight: 600;
    font-size: 1rem;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
}

div > div > a {
    text-decoration: none;
    /* padding: 1rem 4rem; */
    margin: 4rem;
}

.git-alunos {
    text-decoration: none;
    padding: 0;
    color: purple;
}

.top-btn {
    margin-bottom: 3rem;
}

.btn-voltar {
    width: 80px;
    height: 40px;
}

.btn-atividade {
    width: 120px;
    height: 40px;
}

.explain-content {
    padding: 2rem;
    font-size: 1.2rem;
}

.explain-content > div {
    border: solid #777ADD;
    padding: 0;
}

.intro-content > div {
    border: solid #777ADD;
    padding: 0;
}

ul {
    margin-left: 5rem;
}

.exemplo-codigo {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    background-image: linear-gradient(to right, #777ADD, #3D91F5);
    text-align: center;
    color: white;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.livro {
    height: 200px;
    width: 140px;
    margin-top: 20px;
}

pre {
    display: flex;
    align-items: center;
    justify-content: center;
}

#no-identation {
    white-space: pre-line;
}

.exemplo-no-identation {
    width: 735.38px;
}

.fa-solid.fa-circle-question {
    font-size: 5px;
}

.atv-container {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    
}

.atv-content {
    padding: 1rem;
    align-items: center;
    text-align: center;
}

input {
    width: 120px;
    text-align: center;
    border: solid #777ADD;
    text-decoration: none;
    outline: none;
}

.enviar {
    background-image: linear-gradient(to right, #777ADD, #3D91F5);
    width: 200px;
    height: 30px;
    color: white;
    font-family: 'Jura';
    font-weight: 600;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    margin-bottom: 2rem;
}

.enviar:hover {
    cursor: pointer;
}

.box-aviso {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#aviso {
    border-radius: 10px;
    color: white;
    width: 320px;
    height: 50px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atv-content-box {
    padding: 1rem;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    margin-bottom: 5px;
    width: 30px;
}

.form-questao-2 {
    display: flex;
    flex-direction: column;
    width: 400px;

}

#alt-label {
    width: 140px;
    display: inline-block;
    text-align: start;
}
